market-intelligence-content-agent.json
{
  "name": "market-intelligence-content-agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -992,
        96
      ],
      "id": "788648a6-45d6-417e-a67a-955dd4b1b21c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        -160,
        96
      ],
      "id": "701c2587-9cf4-4eaf-a183-bbdbec63c7be",
      "name": "Send a message",
      "webhookId": "a957ae52-c604-449d-a5d9-cbddd58c7de6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        176
      ],
      "id": "f0cb56fb-25d1-4b5b-8e0d-d7ca1bdfeda4",
      "name": "Start Button"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1584,
        0
      ],
      "id": "86a4e294-2a98-4322-a31b-3839baccf188",
      "name": "Schedule"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "039ded94-4bdc-4243-9186-364f6c9b2515",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Saturday",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "d9c89b55-d25f-4ad5-8512-feaed8ed7c0a",
              "leftValue": "={{ $json['Day of week'] }}",
              "rightValue": "Sunday",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1424,
        0
      ],
      "id": "0152c2a6-31ab-4440-9b74-b99d80c9aa3f",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Elite AI Growth Marketer and Viral Content Strategist for Marketing Agencies. Analyze the raw text/news payload incoming from the previous node. Identify the single most explosive trend or high-signal topic.\n\n{{ $json.articles[0].source.name }}\n\n{{ $json.articles[0].author }}\n\n{{ $json.articles[0].title }}\n\n{{ $json.articles[0].description }}\n\n{{ $json.articles[0].url }}\n\n{{ $json.articles[0].publishedAt }}\n\nThen, generate a 'Content Action Pack' containing:\n\nA catchy headline analyzing the trend.\n\nThree distinct, high-performing LinkedIn/X hook variations designed to stop the scroll.\n\nA 3-sentence execution brief explaining why an agency's clients should care about this trend today.\n\nStructure your response perfectly using clear Markdown headers and bullet points.\n\nyou can look up unfamiliar company names, marketing acronyms, or historical context regarding incoming news trends before it drafts the strategy. This demonstrates an advanced, multi-step tool-use architecture to prospective clients on wikipedia.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -624,
        -256
      ],
      "id": "dbde698e-79d8-4516-93b0-da0af059419b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        432
      ],
      "id": "38b61350-5288-4ca2-a496-c5ccfecfc155",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "KLe63fkM3m2UkXkp",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionID"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -528,
        432
      ],
      "id": "349b2f7b-34a7-4c50-9c99-cfa59c61d605",
      "name": "Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -272,
        432
      ],
      "id": "bdcaa54e-a4fc-4f01-9cad-26fa819c0dec",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "content": "About this automation\n\nAn autonomous Market Intelligence & Content Generation Agent built specifically for digital marketing agencies. It tracks real-time industry shifts and converts raw news data into ready-to-publish social media strategies.\n\nHere's how it works:\n1. Schedule Trigger: Runs automatically at a set interval or triggers via the manual Start Button.\n2. Filter Logic: An \"IF\" flow control node manages execution timing and checks data prerequisites.\n3. HTTP Data Ingest: Connects to NewsAPI to fetch the latest top-performing articles matching specified trending business/AI keywords.\n4. Autonomous AI Agent: An advanced LLM processes the payload, coordinates with a Wikipedia tool for deeper brand/concept context, and drafts optimized LinkedIn/X hooks and an executive brief.\n5. Slack Delivery: Routes the finalized, fully formatted Markdown marketing assets directly to the agency's internal team communication hub.",
        "height": 528,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2240,
        -368
      ],
      "typeVersion": 1,
      "id": "283394af-c284-4110-bf9b-dba2f1a0bdc4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Button": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0bd2f30f-c12f-4748-8b53-edfb2f9e2bdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7576b0d53e506fb77af572f76904d210f34da83dd266c544c371d6186d84cf2f"
  },
  "nodeGroups": [],
  "id": "JcwV7ih1UtCEisdK",
  "tags": [
    {
      "updatedAt": "2026-06-14T07:07:45.987Z",
      "createdAt": "2026-06-14T07:07:45.987Z",
      "id": "4AXx4p0cGcSeiVDZ",
      "name": "Training"
    }
  ]
}